@import 'variables.styl'

.button-container
  padding: 0 30px;

  button 
    background-color: darken($primaryColor, 20%);
    border: none;
    color: $bgColor;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 40px;
    padding: 10px 15px;
    transition: background-color 400ms, transform 300ms;

    &:hover 
      background-color: darken($primaryColor, 40%);
      color: #f3f3f3;
      transform: scale(1.1);