@import 'variables.styl'

footer 
  background-color: darken($primaryColor, 10%);
  bottom: 0;
  color: $bgColor;
  font-family: $siteFont;
  padding: 10px 30px;
  position: absolute;
  text-align: center;
  width: 100%;

  p 
    font-size: 20px;

    @media (max-width: 400px) 
      font-size: 16px;

    a 
      color: darken(#343E7C, 20%);
      text-decoration: none;

      &:hover 
        text-decoration: underline dotted;