@import 'variables.styl'

header 
  background-color: $primaryColor;
  box-shadow: 0 5px 2px rgba(#000, 15%);
  padding: 10px 30px;

  h1 
    font-size: 36px;
    font-family: $siteFont;
    font-weight: normal;
