@import 'variables.styl'

.input 
  font-family: $siteFont;
  padding: 0 30px;


  h2 
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 20px;
  
  h3 
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 30px;

  input,
  select 
    background-color: $bgColor;
    border: 2px solid #ddd;
    box-shadow: 2px 3px 0 rgba(#000, 10%);
    height: 30px;
    margin-bottom: 20px;
    margin-right: 15px;

  span
    font-size: 18px; 
    margin-right: 15px;

  input 
    border: none;
    font-size: 20px;

  select
    border: none;
    font-size: 20px;
    padding: 5px 10px;
