.output-container
  padding: 0 30px;


  .container
    background-color: darken($bgColor, 5%);
    box-shadow: 2px 3px 1px rgba(#000, 15%);
    font-size: 30px;
    width: 100%;
    height: 30vh;  display: flex;
    font-family: $siteFont;
    align-items: center;
    justify-content: center;
  