// Imports go at top
@import '_header.styl'
@import '_input.styl'
@import '_output.styl'
@import '_footer.styl'
@import 'variables.styl'

*,
*:before,
*:after 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

body 
    background-color: $bgColor;

.container 
    margin: 0 auto;
    max-width: $maxSiteWidth